<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Itaka.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SIoP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A081689F2B8117AF008CDCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E960D82AF69CE6002C202A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E960E82AF69CE7002C202A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E960F22AF69CE7002C202A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
